<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Owners List</title>
</head>
<body>
<h1 th:text="'List of Owners'">List of Owners....</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 50px">Id</th>
        <th style="width: 150px">First Name</th>
        <th style="width: 150px">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner:${ownerList}">
        <td th:text="${owner.getId()}">1</td>
        <td th:text="${owner.getFirstName()}">Joe</td>
        <td th:text="${owner.getLastName()}">Buck</td>
    </tr>
    </tbody>
</table>
</body>
</html>